body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Documents/profile.jpeg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.resume {
    border-radius: 40%;
}

.card {
    padding: 5px;
}

h2 {
    padding-top: 30px;
}

.info {
    text-align:center;
    flex-wrap:wrap;
    display:inline;
    padding-right: 20px;
    padding-left: 20px;
}

